{{define "header"}}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <header>
        <ul class="nav nav-pills">
            <li role="presentation" {{if .NewsActive}} class="active"{{end}}>
                <a href="/news">All news</a></li>
            <li role="presentation" {{if .LentaActive}} class="active"{{end}}>
                <a href="/news-lenta">Lenta</a></li>
            <li role="presentation" {{if .TechActive}} class="active"{{end}}>
                <a href="/news-tech">Tech</a></li>
            <li role="presentation" {{if .MailActive}} class="active"{{end}}>
                <a href="/news-mail">Mail</a></li>
        </ul>
    </header>

{{end}}