{{define "news"}}
    <!DOCTYPE html>
        <html lang="ru">
        <head>
            <meta charset="UTF-8">
                <title>News</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        </head>
        <h3>
            <p>
                <dl class="dl-horizontal">
                    {{if .Header.TitleLen}}
                        <dt>Title</dt>
                        <dd>{{.Header.Title}}</dd>
                    {{end}}
                    <dt>Description</dt>
                    <dd>{{.Header.Description}}</dd>
                </dl>
            </p>
        </h3>


        {{range .Items }}
            <p>
            <dl class="dl-horizontal">
                {{if .TitleLen }}
                    <dt>Title</dt>
                    <dd>{{.Title}}</dd>
                {{end}}
                {{if .LinkLen}}
                    <dt>Link</dt>
                    <dd><a href={{.Link}}>{{.Link}}</a></dd>
                {{end}}
                <dt>Description</dt>
                <dd>{{.Description}}</dd>
                <dt>PubDate</dt>
                <dd>{{.PubDate}}</dd>
            </dl>
        {{end}}

        {{template "footer"}}

{{end}}